<div class="row">

  <div class="col-12">

    <h1>{{ $t('term.pending') }}</h1>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">{{ $t('button.create') }}</button>

    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">{{ $t('button.create') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <error-results v-bind:formResult="formResult"></error-results>

            <div class="form-group">
              <label for="clientShortName">{{ $t('term.clientShortName') }}</label>
              <client-select id="clientShortName" v-model="form.clientShortName"></client-select>
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.clientShortName">
                <p v-for="errorCode in formResult.validationErrorsByField.clientShortName">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="date">{{ $t('term.date') }}</label> <input type="text" class="form-control" id="date" v-model="form.date" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.date">
                <p v-for="errorCode in formResult.validationErrorsByField.date">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="description">{{ $t('term.description') }}</label> <input type="text" class="form-control" id="description" v-model="form.description" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.description">
                <p v-for="errorCode in formResult.validationErrorsByField.description">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="price">{{ $t('term.price') }}</label> <input type="text" class="form-control" id="price" v-model="form.price" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.price">
                <p v-for="errorCode in formResult.validationErrorsByField.price">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="category">{{ $t('term.category') }}</label> <input type="text" class="form-control" id="category" v-model="form.category" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.category">
                <p v-for="errorCode in formResult.validationErrorsByField.category">{{ $t(errorCode) }}</p>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.close') }}</button>
            <button type="button" class="btn btn-success" v-on:click="create()">{{ $t('button.create') }}</button>
          </div>
        </div>
      </div>
    </div>
    
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createWithTimeModal">{{ $t('button.createWithTime') }}</button>

    <div class="modal fade" id="createWithTimeModal" tabindex="-1" role="dialog" aria-labelledby="createWithTimeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createWithTimeModalLabel">{{ $t('button.createWithTime') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <error-results v-bind:formResult="formResult"></error-results>

            <div class="form-group">
              <label for="clientShortName">{{ $t('term.clientShortName') }}</label>
              <client-select id="clientShortName" v-model="form.clientShortName"></client-select>
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.clientShortName">
                <p v-for="errorCode in formResult.validationErrorsByField.clientShortName">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="date">{{ $t('term.date') }}</label> <input type="text" class="form-control" id="date" v-model="form.date" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.date">
                <p v-for="errorCode in formResult.validationErrorsByField.date">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="description">{{ $t('term.description') }}</label> <input type="text" class="form-control" id="description" v-model="form.description" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.description">
                <p v-for="errorCode in formResult.validationErrorsByField.description">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="hours">{{ $t('term.hours') }}</label> <input type="text" class="form-control" id="hours" v-model="form.hours" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.hours">
                <p v-for="errorCode in formResult.validationErrorsByField.hours">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="minutes">{{ $t('term.minutes') }}</label> <input type="text" class="form-control" id="minutes" v-model="form.minutes" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.minutes">
                <p v-for="errorCode in formResult.validationErrorsByField.minutes">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="category">{{ $t('term.category') }}</label> <input type="text" class="form-control" id="category" v-model="form.category" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.category">
                <p v-for="errorCode in formResult.validationErrorsByField.category">{{ $t(errorCode) }}</p>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.close') }}</button>
            <button type="button" class="btn btn-success" v-on:click="createWithTime()">{{ $t('button.create') }}</button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#billPendingModal">{{ $t('button.billPending') }}</button>

    <div class="modal fade" id="billPendingModal" tabindex="-1" role="dialog" aria-labelledby="billPendingModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cbillPendingModalLabel">{{ $t('button.billPending') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <error-results v-bind:formResult="formResult"></error-results>

            <div class="form-group">
              <label for="invoicePrefix">{{ $t('term.invoicePrefix') }}</label> <input type="text" class="form-control" id="invoicePrefix" v-model="form.invoicePrefix" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.invoicePrefix">
                <p v-for="errorCode in formResult.validationErrorsByField.invoicePrefix">{{ $t(errorCode) }}</p>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.close') }}</button>
            <button type="button" class="btn btn-success" v-on:click="billPending()">{{ $t('button.billPending') }}</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="billSelectedModal" tabindex="-1" role="dialog" aria-labelledby="billSelectedModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cbillSelectedModalLabel">{{ $t('button.billSelected') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <error-results v-bind:formResult="formResult"></error-results>

            <div class="form-group">
              <label for="invoicePrefix">{{ $t('term.invoicePrefix') }}</label> <input type="text" class="form-control" id="invoicePrefix" v-model="form.invoicePrefix" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.invoicePrefix">
                <p v-for="errorCode in formResult.validationErrorsByField.invoicePrefix">{{ $t(errorCode) }}</p>
              </div>
            </div>
            
            <p>{{form.itemToBillIds?.length}} {{$t('term.items')}}</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.close') }}</button>
            <button type="button" class="btn btn-success" v-on:click="billSelected()">{{ $t('button.billSelected') }}</button>
          </div>
        </div>
      </div>
    </div>

    <pagination class="float-right" v-bind:pagination="pending.pagination" v-on:changePage="refreshPending($event.pageId)"></pagination>

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">{{ $t('term.client') }}</th>
          <th scope="col">{{ $t('term.date') }}</th>
          <th scope="col">{{ $t('term.category') }}</th>
          <th scope="col">{{ $t('term.description') }}</th>
          <th scope="col">{{ $t('term.price') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in pending.items">
          <td><input type="checkbox" v-model="item.selected"></td>
          <td>{{item.client.name}} ({{item.client.email}}) ({{item.client.lang}})</td>
          <td>{{item.dateFormatted}}</td>
          <td>{{item.category}}</td>
          <td>{{item.description}}</td>
          <td>{{item.priceFormatted}}</td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="float-right btn btn-success" v-on:click="showBillSelected()">{{ $t('button.billSelected') }}</button>

    <hr />

    <h1>{{ $t('term.billed') }}</h1>

    <pagination class="float-right" v-bind:pagination="pending.pagination" v-on:changePage="refreshBilled($event.pageId)"></pagination>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{{ $t('term.invoiceId') }}</th>
          <th scope="col">{{ $t('term.client') }}</th>
          <th scope="col">{{ $t('term.date') }}</th>
          <th scope="col">{{ $t('term.category') }}</th>
          <th scope="col">{{ $t('term.description') }}</th>
          <th scope="col">{{ $t('term.price') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in billed.items">
          <td>{{item.invoiceId}}</td>
          <td>{{item.client.name}} ({{item.client.email}}) ({{item.client.lang}})</td>
          <td>{{item.dateFormatted}}</td>
          <td>{{item.category}}</td>
          <td>{{item.description}}</td>
          <td>{{item.priceFormatted}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>