<div class="row">

  <div class="col-12">
  
    <pagination class="float-right" v-bind:pagination="pagination" v-on:changePage="refresh($event.pageId)"></pagination>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{{ $t('term.client') }}</th>
          <th scope="col">{{ $t('term.category') }}</th>
          <th scope="col">{{ $t('term.description') }}</th>
          <th scope="col">{{ $t('term.price') }}</th>
          <th scope="col">{{ $t('term.frequency') }}</th>
          <th scope="col">{{ $t('term.delta') }}</th>
          <th scope="col">{{ $t('term.nextGenerationDate') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items">
          <td>{{item.client.name}} ({{item.client.email}}) ({{item.client.lang}})</td>
          <td>{{item.category}}</td>
          <td>{{item.description}}</td>
          <td>{{item.priceFormatted}}</td>
          <td>{{$t(item.calendarUnitCode)}}</td>
          <td>{{item.delta}}</td>
          <td>{{item.nextGenerationDateFormatted}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>