<div class="row">

  <div class="col-12">

    <button type="button" class="btn btn-success" data-toggle="modal" v-on:click="showCreate()" data-target="#createModal">{{ $t('button.create') }}</button>

    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">{{ $t('button.create') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <error-results v-bind:formResult="formResult"></error-results>

            <div class="form-group">
              <label for="sid">{{ $t('term.sid') }}</label> <input type="text" class="form-control" id="sid" v-model="createForm.sid" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.sid">
                <p v-for="errorCode in formResult.validationErrorsByField.sid">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="pricePerHour">{{ $t('term.pricePerHour') }}</label> <input type="text" class="form-control" id="pricePerHour" v-model="createForm.pricePerHour" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.pricePerHour">
                <p v-for="errorCode in formResult.validationErrorsByField.pricePerHour">{{ $t(errorCode) }}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.close') }}</button>
            <button type="button" class="btn btn-success" v-on:click="create()">{{ $t('button.create') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">{{ $t('button.edit') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <error-results v-bind:formResult="formResult"></error-results>

            <div class="form-group">
              <label for="sid2">{{ $t('term.sid') }}</label> <input type="text" class="form-control" id="sid2" v-model="editForm.sid" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.sid">
                <p v-for="errorCode in formResult.validationErrorsByField.sid">{{ $t(errorCode) }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="pricePerHour2">{{ $t('term.pricePerHour') }}</label> <input type="text" class="form-control" id="pricePerHour2" v-model="editForm.pricePerHour" autocomplete="off">
              <div class="text-danger" v-if="formResult.validationErrorsByField && formResult.validationErrorsByField.pricePerHour">
                <p v-for="errorCode in formResult.validationErrorsByField.pricePerHour">{{ $t(errorCode) }}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.close') }}</button>
            <button type="button" class="btn btn-success" v-on:click="edit()">{{ $t('button.edit') }}</button>
          </div>
        </div>
      </div>
    </div>

    <pagination class="float-right" v-bind:pagination="pagination" v-on:changePage="refresh($event.pageId)"></pagination>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{{ $t('term.sid') }}</th>
          <th scope="col">{{ $t('term.pricePerHour') }}</th>
          <th scope="col">{{ $t('term.actions') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items">
          <td>{{item.sid}}</td>
          <td>{{item.pricePerHourFormatted}}$</td>
          <td>
            <div>
              <button class="btn btn-sm btn-primary" data-toggle="modal" v-on:click="showEdit(item)" data-target="#editModal">{{ $t('button.edit') }}</button>
              <button class="btn btn-sm btn-danger" data-toggle="modal" v-on:click="deleteOne(item)">{{ $t('button.delete') }}</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>